<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row style=" display: flex; justify-content: space-between; padding: 0 1rem;">
      <ion-text>Aditya</ion-text>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profileScreen</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="userInfoContainer">
    <div class="avatar">
      <img src="../../assets/images/profilePic.jpg">
    </div>
    <ion-text>Aditya Salunke</ion-text>
    <p>Student at SPIT</p>

    </div>
    <div class="post-card ion-padding">
      <h2 class="post-title">Lessons Pending</h2>
      <ion-card class="post-item">
        <ion-card-header>
          <ion-card-title>Insect Species</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         05/20 words
        </ion-card-content>
      </ion-card>

      <ion-card class="post-item">
        <ion-card-header>
          <ion-card-title>Wilds Animatls</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          05/20 words
        </ion-card-content>
      </ion-card>
    </div>

</ion-content>