

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="parent">

    <div class="intro">
      <p>Choose What</p>
    </div>
    <div class="subHeading">
      <p>to learn today ?</p>
    </div>


    <div class="searchBar">
      <ion-icon size="large" name="search"></ion-icon>
      <input placeholder="Search...">
    </div>


    <div class="recentContainer">
      <div class="iconContainer">
        <div class="image1">
          <img src="../../assets/images/fish.png">
        </div>
        <p >Color</p>

      </div>
    </div>
  </div>
</ion-content>
