

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="parent">

    <div class="intro">
      <p>Choose What</p>
    </div>
    <div class="subHeading">
      <p>to learn today ?</p>
    </div>


    <div class="searchBar">
      <ion-icon style="color:black" size="large" name="search" ></ion-icon>
      <input style="color:black" placeholder="Search...">
    </div>


    <div class="recentContainer">
      <div class="iconContainer">
        <div class="image1">
          <img src="../../assets/images/rainbow.png">
          
        </div>
        <p >Color</p>

      </div>

      <div class="iconContainer">
        <div class="image1">
          <img src="../../assets/images/apple.png"> 
        </div>        
        <p >Body</p>

        

      </div>

      <div class="iconContainer">
        <div class="image1">
          <img src="../../assets/images/hand.png"> 
        </div>        
        <p >Food</p>

      </div>

   
    </div>

    
    <ion-grid >
      <div style="font-weight: 800; font-size: 2rem; font-family: TextBold;">Last Lessons</div>
      <br>
      <ion-row>
        <ion-col class=""  size="6">
          <div class="container1"  >
            <img src="../../assets/images/giraffe.png" alt="">
            <p class="header">Animals</p>
            <p class="subheaer">70 words</p>

          </div>
          <!-- <img src="../../assets/images/pic3N.jpg"> -->
        </ion-col>
        <ion-col class="" size='6' >
         
          <div class="container2"  >
            <img src="../../assets/images/fish.png" alt="">
            <p class="header">Sea Life</p>
            <p class="subheaer">25 words</p>
          </div>
          <div class="container2"  >
            <img src="../../assets/images/fish.png" alt="">
            <p class="header">Sea Creatures</p>
            <p class="subheaer">40 words</p>
          </div>
        </ion-col >
    
      </ion-row>
    
    </ion-grid>
  </div>
</ion-content>
